.modal-header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dotted black;
}

.modal-body{
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
}

.modal-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none
}