.container-root{
    width: 1000px; 
    margin-left: 450px; 
    margin-top: 50px;
}

.conteiner {
    width: 1150px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0.6px;
    border-radius: 5px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.tabsNavigation{
    font-weight:bold; 
    margin-left: 15px;
    color: black;
}

.tabsNavigation:hover{
    color: blue;
    font-size: 17px;
}

.tabsNavigation:active {
    color: rgb(12, 78, 12);
  }



.area{
    grid-area: 1 / 1 / 12 / 3;
    height: 787px;
    width: 850px;
    grid-gap: 1px;
    margin: 7px;
    border: 1.8px solid #000;
    border-radius: 5px;
}

.centro {
    width: 850px;
    position: absolute;
    margin-top: 130px;
}

.logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

.estrelas input[type=radio]{
	display: none;
}
.estrelas label i.fa:before{
	content: '\f005';
	color: #FC0;
}
.estrelas  input[type=radio]:checked  ~ label i.fa:before{
	color: #CCC;
}